#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[en_US]=nm-device-wired
Name[en_US]=MailWare Manager
URL=http://localhost:8080/MailWare-Manager
Name=MailWare Manager
Icon=nm-device-wired
