[Desktop Entry]
Name=John the Ripper
Encoding=UTF-8
Exec=sh -c "sudo john --help;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
