[Desktop Entry]
Name=fcrackzip
Encoding=UTF-8
Exec=sh -c "fcrackzip --help;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
