[Desktop Entry]
Name=pdfcrack
Encoding=UTF-8
Exec=sh -c "pdfcrack --help;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
