[Desktop Entry]
Name=nikto
Encoding=UTF-8
Exec=sh -c "nikto -H;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
