[Desktop Entry]
Name=nmap
Encoding=UTF-8
Exec=sh -c "nmap --help;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
