[Desktop Entry]
Name=TOR Enable
Encoding=UTF-8
Exec=sh -c "sudo systemctl enable tor;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Forensics;
