[Desktop Entry]
Name=TOR Start Port 9050
Encoding=UTF-8
Exec=sh -c "sudo systemctl start tor;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=Privacy;
