[Desktop Entry]
Name=rootkithunter scan
Encoding=UTF-8
Exec=sh -c "sudo rkhunter -c;${SHELL:-bash}"
Icon=
StartupNotify=false
Terminal=true
Type=Application
Categories=forensic;
