<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Sabayon Linux</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

<p>
<span style="float:left;">
	<a href="#download_links">skip to download links</a>
</span>
</p>

<div style="float:right;">
	<ul style="margin:0px">
		<li><a href="../daily/daily.html">go to "daily" editions</a></li>
		<li><a href="http://torrents.sabayon.org/">go to torrent tracker</a></li>
	</ul>
</div>

<p>
&nbsp;
</p>

<p>
Sabayon comes in different flavours to choose.<br>
To distinguish between them, a suffix is appended to file names.<br>
<strong>Short descriptions</strong> can be found <a href="../daily/daily.html">here</a>.
<strong>More details</strong> can be found <a href="http://forum.sabayon.org/viewtopic.php?f=86&amp;t=20887">in this thread on Sabayon forum</a>.
</p>

<p>
	<a name="download_links"></a>
</p>

<table>
<tr>
	<th>Name</th>
	<th>Architecture</th>
	<th>Download link</th>
	<th>Torrent</th>
	<th>md5sum</th>
	<th>Package list</th>
	<th>Size</th>
	<th>Date</th>
</tr>
<TMPL_LOOP NAME="intel_editions_loop">
	<TMPL_LOOP NAME="arches_loop">
		<tr>
			<TMPL_IF NAME="__first__">
				<td rowspan="<TMPL_VAR name="arches_per_edition">">
					<strong><TMPL_VAR NAME="name" ESCAPE=html></strong>
				</td>
			</TMPL_IF>
			<td>
				<TMPL_VAR name="arch" ESCAPE=html>
			</td>
			<td>
				<TMPL_IF NAME="mainfile_url">
					<a href="<TMPL_VAR NAME="mainfile_url" ESCAPE=html>">download</a>
				<TMPL_ELSE>
					???
				</TMPL_IF>
			</td>
			<td>
				<TMPL_IF NAME="torrent_url">
					<a href="<TMPL_VAR NAME="torrent_url" ESCAPE=html>">torrent</a>
				<TMPL_ELSE>
					N/A
				</TMPL_IF>
			</td>
			<td>
				<TMPL_IF NAME="md5_url">
					<a href="<TMPL_VAR NAME="md5_url" ESCAPE=html>">md5sum</a>
				<TMPL_ELSE>
					N/A
				</TMPL_IF>
			</td>
			<td>
				<TMPL_IF NAME="pkglist_url">
					<a href="<TMPL_VAR NAME="pkglist_url" ESCAPE=html>">package list</a>
				<TMPL_ELSE>
					N/A
				</TMPL_IF>
			</td>
			<td>
				<TMPL_IF NAME="mainfile_size">
					<TMPL_VAR NAME="mainfile_size" ESCAPE=html>
				<TMPL_ELSE>
					N/A
				</TMPL_IF>
			</td>
			<td>
				<TMPL_IF NAME="mainfile_date">
					<TMPL_VAR NAME="mainfile_date" ESCAPE=html>
				<TMPL_ELSE>
					N/A
				</TMPL_IF>
			</td>
		</tr>
	</TMPL_LOOP>
</TMPL_LOOP>
</table>
<p style="font-size:75%; margin-top:0px">All dates are in day-month-year format.</p>

<TMPL_IF NAME="others_loop">
	<p>
		<strong>Other:</strong><br>
		<TMPL_LOOP NAME="others_loop">
			<a href="<TMPL_VAR NAME="url" ESCAPE=html>">
				<TMPL_VAR NAME="name" ESCAPE=html>
			</a>
			<br>
		</TMPL_LOOP>
	</p>
</TMPL_IF>

</body>
</html>
