#############################################################
# Name: NewSlickness Round
# Description: A black, white and grey theme for GTK
# Author: Ian MacGregor <ardchoille42@gmail.com>
# Previous authors:
# Richard Stellingwerff <remenic@gmail.com>
# Daniel Borgmann <daniel.borgmann@gmail.com>
# Billy Cantrell <bvcmdk@yahoo.com>
# License: GPL
# Date: April 22, 2010
# Engine: pixmap and clearlooks
#
# Feel free to modify and share!
# I started out editing the human gtkrc - TheRob
# I started out editing TheRob's SlicknesS theme - Ian MacGregor
#############################################################

#############################################################
# NewSlickness panel settings
#############################################################

#############################################################
# This fixes the standard shutdown-dialog on gnome
#############################################################

style "fix"
{

xthickness = 0
ythickness = 0

bg_pixmap[NORMAL]			= "shadows/window-bg.png"

}

class "*Panel*" style "fix"

#############################################################

style "panel"
{

	GtkWidget ::shadow-type = GTK_SHADOW_NONE #this is not working

xthickness = 0
ythickness = 0

  	fg[NORMAL]		= "#d7d7d7" #TEXT ON NORMAL PANEL BUTTONS
  	fg[PRELIGHT]		= "#ffffff" #TEXT ON MOUSEOVERED PANEL BUTTONS
  	fg[ACTIVE]		= "#f0f0f0" #TEXT ON ACTIVE PANEL BUTTON
  	fg[SELECTED]		= "#000000"
  	fg[INSENSITIVE]		= "#6b6b6b"
	bg[NORMAL]		= "#0d0d0d"
  	bg[SELECTED]		= "#3d3d3d"
	bg_pixmap[NORMAL] 	= "panel/panel-bg.png"
	bg_pixmap[PRELIGHT] 	= "panel/panel-bg.png"
	bg_pixmap[ACTIVE] 	= "panel/panel-bg.png"
	bg_pixmap[SELECTED] 	= "panel/panel-bg.png"
	bg_pixmap[INSENSITIVE]	= "panel/panel-bg.png"

engine "pixmap"
{

	image
	{
		function	= HANDLE
		recolorable	= TRUE
		overlay_file	= "/panel/panel-handle.png"
		overlay_stretch	= FALSE
		orientation	= VERTICAL
	}

	image
	{
		function	= HANDLE
		recolorable	= TRUE
		overlay_file	= "/panel/panel-handle.png"
		overlay_stretch	= FALSE
		orientation	= HORIZONTAL
	}

	image
	{
		function	= ARROW
		recolorable	= TRUE
		overlay_file	= "/arrows/arrow-up-panel.png"
		overlay_border	= { 2, 2, 2, 2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
	}

}

}

#############################################################
# These declarations make sure the panel still uses panel style
#############################################################

class "*Panel*Mail*" 			style "panel"
class "*notif*" 			style "panel"
class "*Notif*" 			style "panel"
widget_class "*Panel*GtkToggleButton" 	style "panel"
widget_class "*Panel*GtkButton" 	style "panel"
widget_class "*.Panel*Button*GtkLabel" 	style "panel"
widget_class "*.Panel*GtkLabel" 	style "panel"

#############################################################
# Various fixes
#############################################################

widget_class "*Netstatus*" 		style "panel"
widget_class "*Tomboy*Tray*" 		style "panel"
widget "*fast-user-switch*" 		style "panel"
widget_class "*PanelToplevel*" 		style "panel"
class "Xfce*Panel*" 			style "panel"
widget_class "*Xfce*Panel*" 		style "panel"


#############################################################
# This makes the Applications menu applet use panel style
#############################################################

style "panelapplets" = "panel"
{

xthickness = 5
ythickness = 4

bg[SELECTED]			= "#d9d9d9"

}

widget "*PanelWidget*" 			style "panelapplets"
class "*PanelApplet*" 			style "panelapplets"
widget_class "*Panel*Applet*"		style:highest "panelapplets"


style "panelbar"
{

xthickness = 4
ythickness = 4

engine "pixmap"
{

	image
	{
		function	= BOX
		state		= NORMAL
		file		= "panel/panel-menubar.png"
		border		= { 13, 13, 13, 13 }
		stretch		= TRUE
	}
	
	image
	{
		function	= BOX
		state		= ACTIVE
		file		= "panel/panel-bg.png"
		border		= { 0, 0, 0, 0 }
		stretch		= FALSE
	}
	
	image
	{
		function	= BOX
		state		= INSENSITIVE
		file		= "panel/panel-bg.png"
		border		= { 0, 0, 0, 0 }
		stretch		= FALSE
	}
	
	image
	{
		function	= BOX
		state		= PRELIGHT
		recolorable	= TRUE
		file		= "panel/panel-button-active.png"
		border		= { 8, 8, 8, 8 }
		stretch		= TRUE
		overlay_file	= "panel/prelight-effect.png"
		overlay_stretch	= TRUE
		overlay_border	= { 0, 0, 0, 0 }

	}

}

}

class "*Panel*MenuBar*"		style "panelbar"
widget_class "*Panel*MenuBar*" style "panelbar"
widget_class "*Panel*MenuBar*Item*" style:highest "panelbar"

#############################################################

style "panelbuttons"
{

 xthickness            		= 4
 ythickness            		= 4

  	bg[SELECTED]		= "#3d3d3d"

	GtkWidget::focus_padding = 0

	engine "pixmap" {

	image
	{
		function        = BOX
		#shadow		= OUT
		recolorable     = TRUE
		#state		= PRELIGHT
		detail		= "buttondefault"
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
		overlay_file	= "panel/prelight-effect.png"
		overlay_stretch	= TRUE
		overlay_border	= { 8, 8, 8, 8 }
	}	
      
	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= NORMAL
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}
		
	image
	{
		function        = BOX
		shadow		= OUT
		recolorable     = TRUE
		state		= PRELIGHT
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
		overlay_file	= "panel/prelight-effect.png"
		overlay_stretch	= TRUE
		overlay_border	= { 8, 8, 8, 8 }
	}		

	image
	{
		function        = BOX
		recolorable     = TRUE
		shadow		= IN
		state		= PRELIGHT
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
		overlay_file	= "panel/prelight-effect.png"
		overlay_stretch	= TRUE
		overlay_border	= { 8, 8, 8, 8 }
	}
		
	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= ACTIVE
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}  

	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= INSENSITIVE
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	} 

	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= SELECTED
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}  

}

}

#############################################################
# These declarations make sure the launcher editor buttons use standard buttons style and not panel buttons style
#############################################################

widget_class "*Tasklist*" 		style:highest "panelbuttons"

#############################################################

style "panelbutton-select"
{

 xthickness            		= 4
 ythickness            		= 4

  	bg[SELECTED]		= "#3d3d3d"

	GtkWidget::focus_padding = 0

	engine "pixmap" {
      
	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= NORMAL
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}	

	image
	{
		function        = BOX
		recolorable     = TRUE
		#shadow		= IN
		state		= PRELIGHT
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
		overlay_file	= "panel/prelight-effect.png"
		overlay_stretch	= TRUE
		overlay_border	= { 8, 8, 8, 8 }
	}
		
	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= ACTIVE
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}  

	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= INSENSITIVE
		file            = "panel/panel-button-inactive.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	} 

	image
	{
		function        = BOX
		recolorable     = TRUE
		state		= SELECTED
		file            = "panel/panel-button-active.png"
		border          = { 8, 8, 8, 8 }
		stretch         = TRUE
	}  

}

}

widget_class "*Panel*Applet*Select*"	style "panelbutton-select"

#############################################################
# Thanks to merlwiz79 for these fixes
#############################################################

widget_class "*Xfce*Panel*.GtkToggleButton" 	style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton" style "panelbuttons"
widget_class "*Panel*.GtkToggleButton" 		style "panelbuttons"

#############################################################

widget 	"*dict*Applet*"			style "panelbuttons" #somehow this fixes the
widget_class "*Panel*Applet*Button*"			style "panelbuttons"

style "panelappletprogress" = "panel"
{

bg[NORMAL]			= "#d9d9d9"

engine "clearlooks"
{

}

}

widget_class "*Panel*ProgressBar*"		style "panelappletprogress" 

#############################################################
# Thanks to twrock for this!
#############################################################

style "applet-text" = "panelbuttons"
{

fg[NORMAL]			= "#d7d7d7"

}
 
style "volume-applet-text" = "panelbuttons"
{

fg[NORMAL]			= "#000000"

}

widget_class "*CPUFreqApplet*"	style:highest "applet-text" #fixed volume range popup background
widget_class "*Applet*Volume*" style "volume-applet-text" #GtkVolumeButton + and - colorfix

#############################################################
# Various fixes for avant menues
#############################################################

style "avant"
{

fg[NORMAL]			= "#000000"

engine "clearlooks"
{

}

}

widget "*Avant*" style "avant"

#############################################################
# The workspace switcher
#############################################################

style "switcher"
{

xthickness = 0
ythickness = 0

fg[NORMAL]			= "#a9a9a9"
fg[SELECTED]			= "#000000"
#bg_pixmap[NORMAL] 		= "panel/panel-bg.png"  #This isn't working???
bg[NORMAL]			= "#000000"
bg[PRELIGHT]			= "#a9a9a9"
bg[SELECTED]			= "#d9d9d9"

engine "pixmap"
{
	image
	{
		function	= SHADOW
		recolorable	= TRUE
		file		= "/shadows/shadow-none.png"
		border		= { 1, 1, 1, 1 }
		stretch		= TRUE
		}

}

}

widget_class "*Pager*" style "switcher"
widget_class "*Panel*Fish*" style "switcher"

style "applet"
{

#bg[NORMAL]			= "#000000"
bg_pixmap[NORMAL]		= "/panel/panel-bg.png"

}

widget_class "*PanelApplet*" style "applet"
